$primary-color: #F7C04A;
$secondary-color: #F1F6F9;
$secondary-light-color: #394867;
$success-color: #54B435;
$error-color: #D21312;
$dark-font-color: #212A3E;
$breakpoint: 693px;
$mobile: 600px;
$tablet: 900px;
$computer: 1200px;
$radius: 15px;